:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-letter-spacing: 0.03em;
  --main-font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*=====================LOGO=======================*/
.logo {
  font-family: "Raleway", "Oleo Script", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: var(--main-letter-spacing);
  color: var(--accent-color);
}
.header .logo span {
  color: #000000;
}

.footer .logo span {
  color: #ffffff;
}
/*========================MENU=====================*/

.header {
  background: #ffffff;
}

.menu-link {
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.mail-link {
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.phone-link {
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.phone-link:hover,
.phone-link:focus {
  color: var(--accent-color);
}

/*=====================HERO========================*/

.hero {
  background: #2f303a;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

/*======================ADVANTAGES====================*/

.advantages-list-item > h3 {
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 1.14;
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;

  color: var(--main-text-color);
}

.advantages-list-item > p {
  font-size: var(--main-font-size);
  line-height: 1.71;
  /* or 171% */

  letter-spacing: var(--main-letter-spacing);
  color: var(--secondary-text-color);
}

/*========================PERFORMANS===============*/

.performans-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  color: var(--main-text-color);
}

/*=========================TEAM=====================*/

.our-team {
  background: #f5f4fa;
}

.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  color: var(--main-text-color);
}
.our-team-list-item {
  background: #ffffff;
}

.our-team-list-item > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  /*text-align: center; */
  letter-spacing: var(--main-letter-spacing);
  color: var(--main-text-color);
}

.our-team-list-item > p {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  /*text-align: center;*/
  letter-spacing: var(--main-letter-spacing);
  color: var (--secondary-text-color);
}

/*========================FOOTER====================*/

.footer {
  background: #2f303a;
}

.footer-location-link {
  font-weight: 400;
  font-style: normal;
  font-size: var(--main-font-size);
  line-height: 1.71;
  /* or 171% */
  letter-spacing: var(--main-letter-spacing);
  color: #ffffff;
}
.footer-mail-link,
.footer-phone-link {
  font-weight: 400;
  font-style: normal;
  font-size: var(--main-font-size);
  line-height: 1.71;
  /* or 171% */
  letter-spacing: var(--main-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}

/*=====================PORTFOLIO======================*/
/*=====================NAVIGATION====================*/

.nav-btn {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  /*text-align: center;*/
  letter-spacing: var(--main-letter-spacing);
  color: var(--main-text-color);
}

.nav-btn:focus,
.nav-btn:hover {
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.project-list-item > h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.project-list-item > p {
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: var(--main-letter-spacing);
  color: var(--secondary-text-color);
}
